.menu-container {
  background-color: var(--dark-yellow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.home-link {
  color: black;
  margin-left: 10px;
}

.menu-right-side {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.basic-button {
  color: black;
}

.menu-item {
  color: black;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}

.menu-item:hover {
  text-decoration: underline;
}
